@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bricolage+Grotesque:opsz,wght@10..48,600&family=Inter:wght@100;200;300;400;500;600&family=Roboto:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(201, 201, 201);
  height: 50%;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 15px;
  padding: 12px;
}

.container li {
  list-style: none;
}

.box {
  width: 600px;
  height: 100px;
  background-color: #000000;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 600px) {
  .box {
    width: 300px;
    height: 150px;
  }
  .container {
    margin-bottom: 40px;
    background-color: rgb(201, 201, 201);
  }
}

.container-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
